@{
    ViewBag.Title = "Students";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(item => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(item => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(item => item.EnrollmentDate)
                </td>
            </tr>
        }
    </tbody>
</table>
